<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Letter</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" >Letters</a></li>
                <li><a href="/admin/add-letter" >Add Letter</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/admin/add-letter" method="POST">
            <input type="text" name="letter" value="Modern" />
            <button type="submit">Send</button>
        </form>
    </main>
</body>

</html>